absl-py==1.1.0
asn1crypto==0.24.0
astor==0.8.1
backcall==0.2.0
backports.functools-lru-cache==1.4
bcolz==1.2.1
boto3==1.20.35
botocore==1.23.35
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.5.18.1
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
clip==1.0
cloudpickle==2.1.0
colorama==0.4.5
contextlib2==21.6.0
cryptography==2.1.4
cycler==0.10.0
dataclasses==0.8
decorator==4.1.2
docopt==0.6.2
filelock==3.3.2
ftfy==6.0.3
future==0.18.2
git-python==1.0.3
gitdb==4.0.7
GitPython==3.1.20
google-auth==2.8.0
google-auth-oauthlib==0.4.6
grpcio==1.46.3
h5py==3.1.0
huggingface-hub==0.4.0
hyperopt==0.1.2
idna==3.3
importlib-metadata==4.8.3
ipdb==0.13.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
joblib==0.16.0
json-tricks==3.15.5
jsonlines==2.0.0
keyring==10.6.0
keyrings.alt==3.0
lmdb==1.2.1
Markdown==3.3.7
matplotlib==2.1.0
networkx==2.0
nltk==3.5
nni==2.6.1
numpy==1.19.5
oauthlib==3.2.0
olefile==0.46
opencv-python==4.1.0.25
packaging==21.3
pandas==0.21.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipreqs==0.4.11
prettytable==2.5.0
prompt-toolkit==3.0.7
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
Pygments==2.6.1
pygobject==3.26.1
pymongo==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.1
PythonWebHDFS==0.2.3
pytorch-transformers==1.2.0
pytz==2017.3
pyxdg==0.25
PyYAML==6.0
regex==2020.7.14
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.17.0
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.47
schema==0.7.5
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
sentencepiece==0.1.82
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smmap==4.0.0
ssh-import-id==5.7
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.10.0+cu111
torchaudio==0.7.2
torchvision==0.11.0+cu111
tqdm==4.48.2
traitlets==4.3.3
transformers==4.12.3
typeguard==2.13.3
typing-extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
websockets==9.1
Werkzeug==2.0.3
yarg==0.1.9
zipp==3.6.0
